<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://java.sun.com/jsf/passthrough">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>UStory</title>
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/ustory.css" rel="stylesheet" />
        <script>
            /**
             * Function loadModal: opens a modal
             * @returns {undefined}
             */
            function loadModal() {
                $('#myModal').modal('show');
            }
        </script>  
    </h:head>
    <h:body id="board">

        <h:form id="form">
            <!-- Hidden variables -->
            <h:inputHidden id="varX" value="#{storyBean.x}"/>
            <h:inputHidden id="varY" value="#{storyBean.y}" />
            <h:inputHidden id="varID" value="#{storyBean.id}" />
            <h:commandLink id="command" action="#{storyBean.updatePosition}">
                <f:ajax execute="@form" />
            </h:commandLink>
            <h:commandLink id="todo" action="#{storyBean.updateTodo}">                
            </h:commandLink>
            <h:commandLink id="doing" action="#{storyBean.updateDoing}">
            </h:commandLink>
            <h:commandLink id="done" action="#{storyBean.updateDone}">
            </h:commandLink>
            <h:commandLink id="delete" action="#{storyBean.deleteStory}">
            </h:commandLink>            
            
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.jsf" ><span class="glyphicon glyphicon-send"/> UStory</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <!-- Links -->
                            <li><a href="projects.jsf">Projects</a></li>
                            <li><a href="users.jsf">Manage Users</a></li>
                        </ul>

                        <!-- Search bar -->
                        <!--form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form-->

                        <!-- Projects Dropdown -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-form">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{storyBean.projectName} <span class="caret"></span></a>
                                <h:selectOneListbox class="dropdown-menu" p:role="menu" id="selPrj" value="#{storyBean.selectedProject}" converter="projectConverter">
                                    <f:selectItem itemLabel="Select a project below" noSelectionOption="true"/>
                                    <f:selectItems value="#{storyBean.projects}" var="prj" itemValue="#{prj}" itemLabel="#{prj.name}" />
                                    <f:ajax event="change" execute="selPrj" render="@form"
                                            onevent="function(data) { 
                                            if (data.status === 'success') { 
                                            loadPopovers();
                                            } }"/>
                                </h:selectOneListbox>
                            </li>

                            <li class="navbar-form">
                                <!-- New User Story Button -->
                                <h:commandButton id="openModal" class="btn btn-default" 
                                                 value="New User Story"
                                                 onclick="loadModal();javascript:return false"/> 
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>            

            <!-- User stories list -->
            <div class="container-fluid" id="cont">
                <ui:repeat value="#{storyBean.stories}" var="item">                   
                    <div class="draggable" id="#{item.id}">
                        <div class="draggable" id="#{item.id}" style="top:#{item.y}px; left:#{item.x}px;">
                            <a href='#' rel='popover' data-html="true" 
                               data-cls="#{item.statusClass}" data-content="#{item.text}" 
                               title="User Story #{item.id}   
                                    &lt;div class='pull-right'&gt; 
                                    &lt;h:commandButton class='btn btn-xs' onclick='setTodo(#{item.id})' &gt;
                                            &lt;span class='glyphicon glyphicon-pencil' /&gt;

                                        &lt;/h:commandButton&gt;
                                        &lt;h:commandButton class='btn btn-xs' onclick='setDoing(#{item.id})' &gt;
                                            &lt;span class='glyphicon glyphicon-edit' /&gt;

                                        &lt;/h:commandButton&gt;
                                        &lt;h:commandButton class='btn btn-xs' onclick='setDone(#{item.id})' &gt;
                                            &lt;span class='glyphicon glyphicon-ok-sign' /&gt;
                                            &lt;f:ajax execute='@form' /&gt;    
                                        &lt;/h:commandButton&gt;
                                        &lt;h:commandButton class='btn btn-xs' onclick='deleteStory(#{item.id})' &gt;
                                            &lt;span class='glyphicon glyphicon-trash' /&gt;

                                        &lt;/h:commandButton&gt;
                                    &lt;/div&gt;">
                            </a>
                            
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </h:form>            

        <!-- Modal -->
        <h:form id="modalFrm">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- HEADER -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>

                        <!-- BODY -->
                        <div class="modal-body">
                            <h:outputLabel value="User Story" />
                            <h:inputTextarea rows="3" class="form-control" value="#{storyBean.editStory.text}"/>
                        </div>

                        <!-- FOOTER -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <h:commandButton id="btnSave" class="btn btn-primary" value="Save" action="#{storyBean.saveStory}">                               
                            </h:commandButton>
                        </div>
                    </div>
                </div>
            </div>


            <script src="js/jqueryBS.js"></script>
            <script src="js/jquery-ui.js"></script>
            <script src="js/bootstrap.js"></script>
            <script>
                                                     /*
                                                      * Function called when the page is ready
                                                      * Actions:
                                                      * - Load all popover from the screen
                                                      * - Enable all of these elements as "draggable" to be moved
                                                      */
                                                     $(document).ready(loadPopovers());

                                                     function loadPopovers() {
                                                         $("a").popover('show');
                                                         $(".draggable").draggable({
                                                             containment: [0, 0, 1000, 1000],
                                                             stop: function (event, ui) {
                                                                 var position = $(this).position();
                                                                 //alert(position.top);
                                                                 $(document.getElementById("form:varX")).val(position.left);
                                                                 $(document.getElementById("form:varY")).val(position.top);
                                                                 $(document.getElementById("form:varID")).val($(this).attr("id"));
                                                                 $(document.getElementById("form:command")).click();
                                                             }
                                                         });
                                                     }
                                                     
                                                     function setTodo(val){
                                                         $(document.getElementById("form:varID")).val(val);
                                                         $(document.getElementById("form:todo")).click();
                                                     }
                                                     
                                                     function setDoing(val){
                                                         $(document.getElementById("form:varID")).val(val);
                                                         $(document.getElementById("form:doing")).click();
                                                     }
                                                     
                                                     function setDone(val){
                                                         $(document.getElementById("form:varID")).val(val);
                                                         $(document.getElementById("form:done")).click();
                                                     }
                                                     
                                                     function deleteStory(val){
                                                         $(document.getElementById("form:varID")).val(val);
                                                         $(document.getElementById("form:delete")).click();
                                                     }
            </script>
        </h:form> 
    </h:body>
</html>

