<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="icon" href="../../favicon.ico"/>
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="css/signin.css" rel="stylesheet"/>


        <title>UStory</title>
    </h:head>

    <h:body>
        <div class="container">

            <form class="form-signin" action="j_spring_security_check" method="post">
                
                <h2 class="form-signin-heading">
                    <span class="glyphicon glyphicon-send"/>  UStory login
                </h2>
                
                <h:inputText id="j_username" required="true" p:type="text" class="form-control" 
                             p:placeholder="Email address" p:autofocus="true"/>
                <h:inputText id="j_password" required="true" p:type="password" 
                             class="form-control" p:placeholder="Password" />
                
                <br/>
                
                <h:commandButton class="btn btn-lg btn-primary btn-block" value="Login"/>
            </form>

        </div> <!-- /container -->

    </h:body>
</html>