<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://java.sun.com/jsf/passthrough">

    <f:metadata>
        <f:viewParam name="id" value="#{projectBean.project}" converter="#{projectConverter}" />
    </f:metadata>

    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Project</title>
        <link href="css/bootstrap.css" rel="stylesheet"/>

        <script>
            /**
             * Function loadModal: opens a modal
             * @returns {undefined}
             */
            function loadModal() {
                $('#myModal').modal('show');
            }
        </script>        
    </h:head>
    <h:body>
        <h:form id="projectForm">

            <!-- Upper menu -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.jsf" ><span class="glyphicon glyphicon-send"/> UStory</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <!-- Links -->
                            <!--li class="active"><a href="#">Link</a></li-->
                            <li><a href="projects.jsf">Projects</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>               

            <div class="container">
                <h1>Edit Project</h1>

                <div class="jumbotron">
                    <!-- Project name -->
                    <div class="row">
                        <div class="col-md-2">
                            <h:outputLabel value="Project Name"/>
                        </div>
                        <div class="col-md-10">
                            <h:inputText class="form-control" value="#{projectBean.project.name}"/>
                        </div>
                    </div>

                    <br/>

                    <!-- Description -->
                    <div class="row">
                        <div class="col-md-2">
                            <h:outputLabel value="Description" />
                        </div>
                        <div class="col-md-10">
                            <h:inputTextarea class="form-control" rows="3" 
                                             value="#{projectBean.project.description}" />
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <h:commandButton class="btn btn-primary pull-right" value="Save" action="#{projectBean.saveProject}" />
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>        
    </h:body>
</html>

