<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Projects</title>
        <link href="css/bootstrap.css" rel="stylesheet"/>
    </h:head>

    <h:body>
        <h:form id="projForm"> 
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.jsf" ><span class="glyphicon glyphicon-send"/> UStory</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <!-- Links -->
                            <li><a href="projects.jsf">Projects</a></li>
                            <li><a href="users.jsf">Manage Users</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div class="container">

                <!-- Page Title -->
                <h1>Manage Projects</h1>            
                <!-- New Project Button -->
                <div class="row">
                    <div class="col-md-12">
                        <h:commandButton class="btn btn-primary btn-sm pull-right" value="New Project" action="project"/>
                    </div>
                </div>

                <br/>

                <!-- Projects Datatable -->
                <div class="row">
                    <div class="col-md-12">
                        <h:dataTable class="table table-striped table-hover table-responsive" value="#{projectsBean.projects}" 
                                     var="item" border="1" rendered="#{not empty projectsBean.projects}">
                            <!-- Project Name -->
                            <h:column class="col-md-10">
                                <f:facet name="header">Project</f:facet>
                                <h:outputText value="#{item.name}"/>
                            </h:column>

                            <!-- Themes >
                            <h:column>
                                <f:facet name="header">Themes</f:facet>
                                <h:outputText value="#{item.themes.size}"/>
                            </h:column-->

                            <!-- Actions Menu -->
                            <h:column class="col-md-2">
                                <f:facet name="header">Actions</f:facet>
                                <!-- Edit Button -->
                                <h:link outcome="project" title="Edit" includeViewParams="true" >
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <f:param name="id" value="#{item.id}" />
                                </h:link>
                                &#xA0;&#xA0;

                                <!-- Delete Button -->
                                <h:commandLink action="#{projectsBean.delete}" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <f:setPropertyActionListener target="#{projectsBean.editedProject}" value="#{item}"/>
                                    <f:ajax render="@form" />
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                    </div>
                </div>
            </div>
        </h:form>      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
    </h:body>
</html>

